<% postsArray.forEach(function(post) { %>
<div class="item">
  <div class="ui medium image">
    <img
      src="https://photos.mandarinoriental.com/is/image/MandarinOriental/paris-2017-home?$MO_masthead-property-mobile$"
      alt=""
    />
  </div>
  <div class="content">
    <h3 class="ui header"><%= post.location %></h3>
    <div class="ui right floated item">By: <%= post.author %></div>

    <div class="description">
      <%= post.travelExperience %>
    </div>
    <div class="ui right floated item">
      <a href="/view">View full post</a>
    </div>
  </div>
</div>
<% }); %>
