<div class="ui blue inverted large borderless menu">
  <div class="menu">
    <h2 class="item">TRAVEL BOOK</h2>
  </div>
  <div class="right menu">
    <a href="/posts/home" class="item">Home</a>
    <a href="/posts/post/new" class="item">Post</a>
    <a href="/login" class="item">Logout</a>
  </div>
</div>