<div
  class="ui inverted large borderless menu"
  style="background-color: #008080;"
>
  <div class="menu">
    <img src="/assets/logo.png" alt="travelbook logo">
  </div>
  <div class="right menu">
    <a href="/posts/home" class="item">Home</a>
    <a href="/posts/post/new" class="item">Post</a>
    <a href="/logout" class="item">Logout</a>
  </div>
</div>
