<div
  class="ui inverted large borderless menu"
  style="background-color: #008080;"
>
  <div class="tbMenu menu">
    <a href="/posts/home" class="item">
      <img class="tbMenu" src="/assets/logo.png" alt="travelbook logo" style="width:210.5px; height:51px; margin: 0.25rem 1rem 0.25rem 2rem;">
    </a>

  </div>
  <div class="right menu">
    <!-- <a href="/posts/home" class="item">Home</a> -->
    <a href="/users/profile" class="item">Profile</a>
    <a href="/posts/post/new" class="item">Post</a>
    <a href="/logout" class="item">Logout</a>
  </div>
</div>
