<div class="ui card">
  <div class="image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <div class="ui inverted button">Add Friend</div>
        </div>
      </div>
    </div>
    <img src="/images/wireframe/image.png" />
  </div>
  <div class="content">
    <div class="header">Title 3</div>
    <div class="meta">
      <a class="group">Meta 3</a>
    </div>
    <div class="description">
      Five or Six sentence description that may go to several lines
    </div>
  </div>
  <div class="extra content">
    <a class="right floated created">Arbitrary</a>
    <a class="friends"> Arbitrary</a>
  </div>
</div>
