<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable middle aligned grid">
    <div class="column">
      <form
        class="ui form"
        enctype="multipart/form-data"
        action="/users/edit/username/?_method=PUT"
        method="POST"
      >
        <div class="field">
          <h3>Update Username</h3>
        </div>
        <div class="field">
          <label>Current</label>
          <div class="ui left icon input">
            <input type="text" value=<%= userBio.username %> />
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>New</label>
          <div class="ui left icon input">
            <input type="text" name="newUsername" />
            <i class="user icon"></i>
          </div>
        </div>
        <button class="ui blue submit button" type="submit">Submit</button>
      </form>
    </div>
    <div class="column left aligned">
      <i class="teal massive cogs icon"></i>
    </div>
  </div>
</div>
