<div class="ui placeholder segment">
  
  <div class="ui two column very relaxed stackable grid">
    
    <div class="column">
      <div class="ui form">
        <div class="field">
          <h3>Update Username</h3>
        </div>
        <div class="field">
          <label>Current</label>
          <div class="ui left icon input">
            <input type="text" value=<%= userBio.username %> />
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>New</label>
          <div class="ui left icon input">
            <input type="text" />
            <i class="user icon"></i>
          </div>
        </div>
        <div class="ui blue submit button">Update</div>
      </div>
    </div>

  </div>

</div>
