<%- include ("partials/main-header") %> <%- include ("partials/navbar") %>
<div class="ui blue container">
  <div class="ui segment padded">
    <h1 class="ui aligned center header">Create a Post</h1>
    <form
      class="ui form"
      action="/posts/post/new"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="field">
        <label>Location</label>
        <input type="text" name="location" placeholder="Location" />
      </div>
      <div class="field">
        <label>Travel Experience</label>
        <textarea
          name="travelExperience"
          cols="30"
          rows="10"
          placeholder="Write about your travel experience"
        ></textarea>
      </div>
      <div class="field">
        <label>Upload an image</label>
        <input type="file" id="img" name="imageURL" />
      </div>
      <% if(typeof errors != 'undefined') { %>
      <div class="ui red message">
        <% errors.forEach(function(error) { %>
        <p><%= error.msg %></p>
        <% }); %>
      </div>
      <% }%>
      <button class="ui teal button" type="submit">
        Post
      </button>
    </form>
  </div>
</div>
<%- include ("partials/main-footer") %>
