<%- include ("partials/header") %> <%- include ("partials/navbar") %>
<div class="ui blue container">
  <div class="ui segment padded">
    <h1 class="ui aligned center header">Create a Post</h1>
    <div class="ui form" id="create-post">
      <div class="field">
        <label>Location</label>
        <input type="text" name="location" id="location" placeholder="Location" />
      </div>
      <div class="field">
        <label>Travel Experience</label>
        <textarea name="travel-experience" id="travel-experience" cols="30" rows="10"
          placeholder="Write about your travel experience"></textarea>
      </div>
      <div class="field">
        <label>Upload an image</label>
      </div>
      <button class="ui button" type="submit">
        Post
      </button>
    </div>
  </div>
</div>
<%- include ("partials/footer") %>