<div class="ui blue inverted large borderless menu">
  <div class="menu">
    <h2 class="item">TRAVEL BOOK</h2>
  </div>
  <div class="right menu">
    <a href="home.html" class="item">Home</a>
    <a href="create.html" class="item">Post</a>
    <a href="login.html" class="item">Logout</a>
  </div>
</div>
<div class="ui blue container">
  <div class="ui segment padded">
    <h1 class="ui aligned center header">Edit Post</h1>
    <div class="ui form">
      <div class="field">
        <label>Location</label>
        <input type="text" name="location" placeholder="Location" />
      </div>
      <div class="field">
        <label>Travel Experience</label>
        <textarea
          name="travel-experience"
          id=""
          cols="30"
          rows="10"
          placeholder="Write about your travel experience"
        ></textarea>
      </div>
      <div class="field">
        <label>Upload an image</label>
      </div>
      <button class="ui button" type="submit">Post</button>
    </div>
  </div>
</div>
