<%- include ("partials/main-header") %> <%- include ("partials/navbar") %>
<div class="ui blue container">
  <div class="ui segment padded">
    <h1 class="ui center aligned header">Recent Posts</h1>
    <div class="ui divided items">
      <%- include ("partials/home-posts") %>
    </div>
  </div>
</div>
<%- include ("partials/main-footer") %>
