<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
  </head>
  <body>
    <div class="ui blue inverted large borderless menu">
      <div class="menu">
        <h2 class="item">TRAVEL BOOK</h2>
      </div>
      <div class="right menu">
        <a href="home.html" class="item">Home</a>
        <a href="create.html" class="item">Post</a>
        <a href="login.html" class="item">Logout</a>
      </div>
    </div>

    <div class="ui blue container">
      <div class="ui segment padded">
        <h1 class="ui center aligned header">Recent Posts</h1>
        <div class="ui items">
          <div class="item">
            <div class="ui medium image">
              <img
                src="https://photos.mandarinoriental.com/is/image/MandarinOriental/paris-2017-home?$MO_masthead-property-mobile$"
                alt=""
              />
            </div>
            <div class="content">
              <h3 class="ui header">Paris, France</h3>
              <div class="ui right floated item">By: Dustin Irving</div>

              <div class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque
                nesciunt possimus excepturi omnis reiciendis adipisci minima.
                Quia praesentium facilis animi nesciunt distinctio, assumenda
                numquam adipisci deserunt eaque recusandae magnam dolorum. Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
                cumque, tenetur sequi deleniti nostrum aut voluptatem, magnam
                vero saepe quidem quod eligendi consequatur libero
                exercitationem temporibus blanditiis ea accusantium atque. Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Eaque nam
                molestias, ducimus quasi et corrupti accusantium iste ratione,
                doloremque animi iusto delectus doloribus. Beatae magnam dolor
                reprehenderit facere nemo fugiat. Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Corrupti ex vero voluptatibus
                autem, architecto, esse delectus accusantium tempora sed commodi
                assumenda quia facilis amet expedita rerum. Maiores qui dolores
                exercitationem facilis amet expedita rerum exercitationem
                facilis amet expedita rerum exercitationem facilis amet expedita
                rerum...
              </div>
              <div class="ui right floated item">
                <a href="view.html">View full post</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui medium image">
              <img
                src="https://a.cdn-hotels.com/gdcs/production172/d459/3af9262b-3d8b-40c6-b61d-e37ae1aa90aa.jpg"
                alt=""
              />
            </div>
            <div class="content">
              <h3 class="ui header">Bangkok, Thailand</h3>
              <div class="ui right floated item">By: John Doe</div>

              <div class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque
                nesciunt possimus excepturi omnis reiciendis adipisci minima.
                Quia praesentium facilis animi nesciunt distinctio, assumenda
                numquam adipisci deserunt eaque recusandae magnam dolorum. Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
                cumque, tenetur sequi deleniti nostrum aut voluptatem, magnam
                vero saepe quidem quod eligendi consequatur libero
                exercitationem temporibus blanditiis ea accusantium atque. Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Eaque nam
                molestias, ducimus quasi et corrupti accusantium iste ratione,
                doloremque animi iusto delectus doloribus. Beatae magnam dolor
                reprehenderit facere nemo fugiat. Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Corrupti ex vero voluptatibus
                autem, architecto, esse delectus accusantium tempora sed commodi
                assumenda quia facilis amet expedita rerum. Maiores qui dolores
                exercitationem facilis amet expedita rerum exercitationem
                facilis amet expedita rerum exercitationem facilis amet expedita
                rerum...
              </div>
              <div class="ui right floated item">
                <a href="view.html">View full post</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
