<%- include ("partials/landing-header") %>
<div class="ui doubling center aligned two column grid container" id="container">
  <div class="column"></div>
  <div class="column" id="landing-align">
    <div class="ui segment">
      <div class="ui header">
        <h1>Travel adventures are meant to be shared. <br />
          Where will you go next?</h1>
      </div>

      <div class="extra content">
        <a class="ui teal button" href="/signup">Join Now</a>
        <a class="ui teal button" href="/login">Log in</a>
      </div>
    </div>
  </div>
  </main>
  <%- include ("partials/main-footer") %>