<!-- Insert the landing header to style the landing page -->
<%- include ("partials/landing-header") %>
<div
  class="ui doubling left aligned four column grid container"
  id="container"
>
  <!-- <div class="one column row">
    <div class="left aligned column">
      <img src="/assets/logo-colored.png" alt="travel book logo">
    </div>
  </div> -->

  <div class="two column row">
    <div class="column left aligned" id="landing-align">
      <div>
        <video width="507rem" height="300rem" controls>
          <source src="/assets/preview.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  
    <div class="column center aligned" id="landing-align">
      <div class="ui segment value-prop">
        <div class="ui header">
          <h1>
            Travel experiences are made <br />
            to be shared, where will <span>YOU</span> go next?
          </h1>
          <p>Share travel adventures and connect with fellow travellers today!</p>
        </div>
        <div class="extra content">
          <div class="left floated buttons">
            <!-- Links to the login and signup page -->
            <a class="ui teal button btn" href="/signup">Join Now</a>
            <a class="ui teal button btn" href="/login">Log in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Insert the main footer -->
  <%- include ("partials/main-footer") %>
</div>
