<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>travelbook</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <h4>Temp Logo</h4>
      </div>
      <ul class="nav-links">
        <li><a class="ui button" href="#">Log in</a></li>
      </ul>
    </nav>
    <main class="ui container">
      <div class="ui centered card">
        <h1>
          Travel adventures and great experiences <br />
          are made to be shared. Where will you go next?
        </h1>

        <div class="extra content">
          <a class="ui button" href="/views/sign-up.html">Join Now</a>
        </div>
      </div>
    </main>

    <!-- <div class=" container value-prop">
      <img
        class="value-prop-img"
        src="../views/images/value-prop.png"
        alt="value-prop"
      />
    </div> -->
  </body>
</html>
