<div class="ui doubling two column grid container">
  <div class="row">
    <div class="centered column">
      <h1 class="ui aligned center header">Travel Book</h1>
    </div>
  </div>
  <div class="row">
    <div class="centered column">
      <div class="ui segment">
        <form class="ui form" id="login-form" action="/login" method="POST">
          <h2 class="ui aligned center header">Login</h2>
          <div class="field">
            <label>Username</label>
            <input
              type="text"
              name="username"
              placeholder="Username"
              id="username"
              value="<%= typeof username != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="field">
            <label>Password</label>
            <input
              type="password"
              name="password"
              placeholder="Password"
              id="password"
              value="<%= typeof password != 'undefined' ? name : '' %>"
            />
          </div>

          <% if (error != '') { %>
          <div class="ui red message">
            <%= error[0] %>
          </div>
          <% } %>
          <div class="ui centered grid padded">
            <button class="ui button" type="submit">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="centered center aligned column">
      <div class="ui">
        Don't have an account?
        <a href="/signup">Sign up</a>
      </div>
    </div>
  </div>
</div>
