<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
  </head>
  <body>
    <div class="ui doubling two column grid container">
      <div class="row">
        <div class="centered column">
          <h1 class="ui aligned center header">Travel Book</h1>
        </div>
      </div>
      <div class="row">
        <div class="centered column">
          <div class="ui segment">
            <form class="ui form" id="signup-form">
              <h2 class="ui aligned center header">Sign up</h2>
              <div class="field">
                <label>Username</label>
                <input
                  id="username"
                  type="text"
                  name="username"
                  placeholder="Username must contain at least 6 characters"
                />
                <!-- <div class="ui pointing label">
                  Username must contain at least 6 characters
                </div> -->
              </div>
              <div class="field">
                <label>Password</label>
                <input
                  id="password"
                  type="password"
                  name="password"
                  placeholder="Password must contain at least 6 characters"
                />
                <!-- <div class="ui pointing label">
                  Password must contain at least 6 characters
                </div> -->
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input
                    id="checkbox"
                    type="checkbox"
                    tabindex="0"
                    class="hidden"
                    value="checkbox"
                  />
                  <label for="checkbox"
                    >I agree to the Terms and Conditions.</label
                  >
                </div>
              </div>
              <!-- Add error into class (ui error message) -->
              <div class="" id="message"></div>
              <div class="ui centered grid padded">
                <button class="ui button" type="submit">
                  Sign up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="centered center aligned column">
          <div class="ui">
            Already have an account?
            <a href="login.html">Login</a>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/signup.js"></script>
  </body>
</html>
