<div class="ui blue inverted large borderless menu">
  <div class="menu">
    <h2 class="item">TRAVEL BOOK</h2>
  </div>
  <div class="right menu">
    <a href="home.html" class="item">Home</a>
    <a href="create.html" class="item">Post</a>
    <a href="login.html" class="item">Logout</a>
  </div>
</div>
<div class="ui blue container">
  <div class="ui segment padded">
    <h1 class="ui center aligned header">Paris, France</h1>
    <h4 class="ui center aligned header">By: Dustin Irving</h4>
    <div class="ui items">
      <div class="item">
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
          veniam unde beatae corrupti quis aut sapiente quae suscipit ipsa alias
          architecto exercitationem voluptas, minus ex dolores cumque ab
          necessitatibus accusantium. Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Modi laboriosam voluptatibus et deserunt pariatur
          culpa deleniti accusantium, explicabo iste, rerum eius! Quae magni
          molestias rem corrupti beatae harum animi veritatis? Lorem ipsum dolor
          sit, amet consectetur adipisicing elit. Aperiam, recusandae expedita
          cumque fuga, officiis iusto corrupti aliquid odio voluptate at
          accusamus incidunt temporibus debitis laboriosam. Perferendis
          doloribus error quidem voluptates. Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Error natus id delectus aperiam veniam
          quo, veritatis alias cum dolor consequatur rerum libero accusamus,
          ducimus quis ut maiores velit ea ullam! Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Reprehenderit eos voluptatem alias animi
          ut? Necessitatibus quaerat, magni asperiores quisquam, et ipsum culpa,
          quasi id autem nemo libero blanditiis sint rerum. Lorem ipsum dolor
          sit amet consectetur, adipisicing elit. Vitae ad minus, suscipit,
          voluptates unde ullam explicabo blanditiis quas tempora doloribus
          provident error beatae perspiciatis minima? Sit repellendus dolorum
          sint temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Numquam, est. Explicabo facere aliquam ipsum aperiam corporis ad
          eveniet, deserunt iste doloribus sed totam voluptates quam neque,
          delectus dolore eius voluptatem! Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Neque, tempore repellat? Possimus modi
          ad, quas ex beatae libero necessitatibus, odio fugiat inventore quae
          dolor qui deserunt est deleniti cupiditate odit. Lorem ipsum dolor sit
          amet, consectetur adipisicing elit. At, non sapiente? Porro dolorum
          quis impedit soluta odio unde sit deserunt temporibus, nobis suscipit
          aut, laboriosam animi consequuntur. Ad, commodi blanditiis. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Explicabo, magni
          amet est obcaecati laborum quaerat illum at delectus rem asperiores
          officia laudantium alias, dolorem voluptates ex ratione labore veniam
          repudiandae.
        </div>
        <div class="ui large image">
          <img
            src="https://photos.mandarinoriental.com/is/image/MandarinOriental/paris-2017-home?$MO_masthead-property-mobile$"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
