<!-- Insert the main header and navbar -->
<%- include ("partials/main-header") %> <%- include ("partials/navbar") %>
<div class="ui container">
  <!-- Insert view-post with rendered data about the post-->
  <%- include ("partials/view-post") %>
</div>
<!-- Insert the main footer -->
<%- include ("partials/view-footer") %>
