body {
  background-image: url('/backgrounds/landing.png');
  background-size: cover;
}

#landing-align {
  margin-top: 20vh;
  /* height: 55vh; */
  top: 0vh;
}

video {
  outline: none;
}

span {
  text-decoration: underline;
}

#landing-align h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  color: #008080;
  font-size: 1.8rem;
  line-height: 3rem;
  /* color: #000000; */
  text-align: left;
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-right: 0.5rem;
}

#landing-align p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: #000000;
  text-align: left;
  padding-left: 2rem;
  padding-right: 0.5rem;
  margin-top: 2.5rem !important;
}

.value-prop {
  background: rgba(243, 236, 236, 0.7) !important;
}
#landing-align .buttons {
  margin: 1.5rem;
}
#landing-align .btn {
  margin-left: 1rem;
  margin-right: 1rem;
}
#login-align {
  margin-top: 28vh !important;
}
#signup-align {
  margin-top: 22vh !important;
}
